# <h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List escential libraries for data scientist
* List tools that data scientist use

Some of the popular languages that Data Scientists use are:
1. R
1. Python
1. Julia

Some of the commonly used libraries used by Data Scientists include:
    
1. Pandas
2. Numpy
3. Scykit-learn
4. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Pablo Salinas